
    h1{
        color: blueviolet;
        background-color: bisque;
    }
    button{
        color: rgb(242, 148, 186);
        background-color: blue;
    }
    p{
        color: crimson;
        background-color: burlywood;
    }